@model CouponVM
@{
    Layout = "/Views/Shared/_Layout.cshtml";


}

<link href="~/css/couponlist.css" rel="stylesheet" />
<div class="d-flex justify-content-start">
    @foreach(var coupon in Model.Coupons)
    {
        <div class="card m-2">
            <h2 class="card-title">@coupon.Name.ToUpper()</h2>
            <p class="card-description">Minimum:@coupon.MinPrice</p>
            @if (DateTime.UtcNow >= coupon.ExpiryDate)
            {
                <span class="text-danger">@coupon.ExpiryDate</span>
                <button type="button" disabled class="copy-button" >Copy to Clipboard</button>

            }
            else
            {
                <span class="text-success">@coupon.ExpiryDate</span>
                <button type="button" class="copy-button" onclick="copyToClipboard('@coupon.Code')">Copy to Clipboard</button>

            }

        </div>
    }
</div>
@section Scripts{
    <script>
        function copyToClipboard(text) {
            var tempInput = $("<input>");

            $("body").append(tempInput);

            tempInput.val(text);

            tempInput.select();

            document.execCommand("copy");

            tempInput.remove();

            Swal.fire({
                position: "center-center",
                icon: "success",
                title: "Coupon code copied to clipboard: " + text,
                showConfirmButton: false,
                timer: 1500
            });
        }
    </script>
}



