@model Banner
@{
}
<form asp-action="Edit" asp-controller="Banner" enctype="multipart/form-data">
    <input asp-for="ImageUrl" type="hidden" />
    <input name="newfile" id="newfile" type="text" hidden />

    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">
                Edit Banner
            </h2>
            <hr />
        </div>

        <div class="card">
            <div class="card-header">Crop Image</div>
            <div class="card-body">
                <div id="cropper" data-default="@Model.ImageUrl" ></div>

            </div>
            <div class="card-footer row">
                <input type="file" id="img" class="form-control" accept="image/*" />
                <button type="button" id="newfileupload" style="margin-top:10px" hidden class="btn btn-success">Crop</button>
            </div>
        </div>
        <div class="row p-1 mb-3">
            <label asp-for="BannerName" class="p-0"></label>
            <input asp-for="BannerName" class="form-control" />
            <span asp-validation-for="BannerName" class="text-danger"></span>
        </div>
        <div class="row p-1 mb-3">
            <label asp-for="BannerUrl" class="p-0"></label>
            <input asp-for="BannerUrl" class="form-control" />
            <span asp-validation-for="BannerUrl" class="text-danger"></span>
        </div>
        <div class="row p-1 mb-3">
            <label asp-for="Description" class="p-0 text-muted"></label>
            <textarea asp-for="Description" class="form-control"></textarea>
        </div>
        @if(Model.IsBanned)
        {
            <button class="btn btn-success" disabled>Published</button>
        }
        else
        {
            <button class="btn btn-danger" disabled>Not Published</button>

        }
        <div class="my-3">
            <input asp-for="IsBanned" class="form-check-input" type="checkbox" id="flexCheckChecked" name="IsBanned">
            <label class="form-check-label" for="flexCheckChecked">
                Banner Published or Not
            </label>
        </div>

        <div class="row ">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-primary form-control">Update</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-action="Index" asp-controller="Banner" class="btn btn-secondary border form-control">Back TO List</a>
            </div>
        </div>
    </div>
</form>
@section Scripts{
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink   emoticons  searchreplace  visualblocks wordcount',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | align lineheight | numlist bullist indent outdent | removeformat',
        });
    </script>
    <script>
        $(document).ready(function () {
            

            function initializeCropper(elementId, defaultImageUrl, resultInputId) {
                var cropper = $('#' + elementId);
                cropper.croppie({
                    viewport: {
                        width: 750,
                        height: 225,
                    },
                    boundary: {
                        width: 1000,
                        height: 500
                    },
                    showZoomer: true,
                    enableResize: true,
                    url: defaultImageUrl,
                    format: 'png'
                });

                // Find the file input inside the same card
                var fileInput = cropper.closest('.card').find('input[type="file"]');

                fileInput.on('change', function () {
                    $('#' + resultInputId + 'upload').removeAttr('hidden');
                    var input = this;
                    if (input.files && input.files[0]) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            cropper.croppie('bind', {
                                url: e.target.result
                            });
                        };
                        reader.readAsDataURL(input.files[0]);
                    }
                });

                // Find the button inside the same card
                console.log('cropper:', cropper);
                console.log('resultInputId:', resultInputId);

                var cropButton = cropper.closest('.card').find('#' + resultInputId + 'upload');
                console.log('cropButton:', cropButton);

                cropButton.on('click', function () {
                    console.log('Crop button clicked');

                    cropper.croppie('result', {
                        type: 'blob',
                        format: 'png', // or 'jpeg' or another supported format
                    }).then(function (blob) {
                        var formData = new FormData();
                        formData.append('FORfilename', 'Banner.png');

                        formData.append('file', blob);

                        $.ajax({
                            url: '@Url.Action("CropAndSave", "Banner", new { area = "Admin" })',
                            method: 'POST',
                            data: formData,
                            contentType: false,
                            processData: false,
                            success: function (response) {
                                if (response.message === 'OK') {
                                    Swal.fire({
                                        position: "center-center",
                                        icon: "success",
                                        title: "Your banner has been saved",
                                        showConfirmButton: false,
                                        timer: 1500
                                    });
                                    $('#' + resultInputId + 'upload').attr('hidden', true);

                                    $('#' + resultInputId).val(response.filename);
                                } else {
                                    Swal.fire({
                                        icon: "error",
                                        title: "Oops...",
                                        text: "Something went wrong!",
                                        footer: '<a href="#">Why do I have this issue?</a>'
                                    });
                                }
                            },
                            error: function () {
                                Swal.fire({
                                    icon: "error",
                                    title: "Oops...",
                                    text: "Something went wrong!",
                                    footer: '<a href="#">Why do I have this issue?</a>'
                                });;
                            }
                        });
                    });
                });
            }

            initializeCropper('cropper', $('#cropper').attr('data-default'), 'newfile');
        });
    </script>
    @{
        <partial name="_ValidationScriptsPartial.cshtml" />
    }
}