@model List<Product>

<div class="mb-5">
    <div class="row pt-4 pb-3">

        <div class="pagetitle col-12 ">
            <h1>Products List</h1>

            <div class="row d-flex">
                <nav class="col-10">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/Admin/Dashboard/Index">Admin</a></li>
                        <li class="breadcrumb-item active">Product</li>
                    </ol>

                </nav>
                <div class="col-2">
                    <a asp-controller="Product" asp-action="Upsert" class="btn btn-primary custum-controll-w">
                        <i class="bi bi-plus-circle-fill"></i>
                        <span class="text-nowrap ">Add New Product</span>
                    </a>
                </div>
            </div>
        </div><!-- End Page Title -->
    </div>
    <div class="table-responsive">
        <table id="tblData" class="table table-bordered table-striped w-100 table-sm border-top">
            <thead>
                <tr>
                    <th>
                        Product Name
                    </th>
                    <th>
                        Category
                    </th>
                    <th>
                        List Price
                    </th>
                    <th>
                        Price for 1 - 50
                    </th>
                    <th>
                        Price for 50 +
                    </th>
                    <th>
                        Price for 100 +
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
        </table>
    </div>
    

</div>

@section Scripts{

    <script src="~/js/product.js"></script>
}