@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Username" class="form-control" placeholder="Please choose your username." disabled />
                <label asp-for="Username" class="form-label"></label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Please enter your phone number." />
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.UserName" class="form-control" placeholder="Please enter your phone number." />
                <label asp-for="Input.UserName" class="form-label"></label>
                <span asp-validation-for="Input.UserName" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </form>
    </div>
    
    <div class="col-md-6">
        <div class="card mb-4">
            <div>
                <div class="card-body text-center">
                    <div class="profile-pic">
                        <label class="-label" for="file">
                            <span class="glyphicon glyphicon-camera"></span>
                            <img id="output" src="@Model.ProfilePhoto" class="rounded-circle position-relative" style="background-size:cover;width:10rem;height:10rem">
                        </label>
                        <input id="file" type="file" value="" name="photo" hidden />
                    </div>
                    <div id="cropper" hidden></div>
                    <button type="button" id="CropBtn" style="margin-top:10px" hidden class="btn btn-success">Crop</button>
                </div>
            </div>

        </div>
        @if (User.IsInRole(SD.Role_Customer))
        {
            <a id="Coupons" class="btn btn-primary w-100 mb-1" asp-action="CouponList" asp-controller="Home" asp-area="Customer" title="Coupons">Coupons</a>

            <div class="card mb-4">
                <div class="card-header d-flex text-start">
                    <h3>Wallet Balance : <span>₹@Model.Input.WalletBalance &nbsp;&nbsp;</span></h3>
                    <a href="#card-body" data-toggle="collapse">
                        <i class="fa fa-chevron-down"></i>
                    </a>
                </div>
                <div class="card-body collapse" id="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="list-group">
                                @foreach (var transaction in Model.Input.WalletHistory.OrderByDescending(x => x.Date).ToList())
                                {
                                    <a href="#" class="list-group-item list-group-item-action">
                                        Date:@transaction.Date.ToShortDateString()
                                        @if (transaction.Amount < 0)
                                        {
                                            <span class='text-danger'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@transaction.Amount</span>
                                        }
                                        else
                                        {
                                            <span class='text-success'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+@transaction.Amount</span>
                                        }
                                    </a>


                                }

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        }


    </div>


</div>




@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        function initializeCropper() {
            var cropper = $('#cropper');
            cropper.croppie({
                viewport: {
                    width: 150,
                    height: 150,
                    type: 'circle' // You can change this to 'square' if needed
                },
                boundary: {
                    width: 300,
                    height: 300
                },
                showZoomer: true,
                enableOrientation: true // Enable this if you want to handle image orientation
            });

            var fileInput = $('#file');

            fileInput.on('change', function (event) {
                $('#cropper').removeAttr('hidden');
                $('#CropBtn').removeAttr('hidden');
                var image = document.getElementById("output");
                image.src = URL.createObjectURL(event.target.files[0]);
                // document.getElementById("btnSubmit").removeAttribute("hidden");

                var input = this;
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        cropper.croppie('bind', {
                            url: e.target.result
                        });
                    };
                    reader.readAsDataURL(input.files[0]);
                }
            });

            var cropButton = $('#CropBtn');
            cropButton.on('click', function () {

                cropper.croppie('result', {
                    type: 'blob',
                    format: 'png'
                }).then(function (blob) {


                    // Display the cropped image
                    $('#output').attr('src', URL.createObjectURL(blob));
                    var formData = new FormData();
                    formData.append('file', blob);
                    formData.append('FORfilename', 'Profile.png');  // Replace with the actual value

                    $.ajax({
                        url: '/Customer/Home/PicUpload',
                        type: 'POST',
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function (response) {
                            if (response.success) {
                                $('#cropper').attr('hidden', true);
                                $('#CropBtn').attr('hidden', true);


                                Swal.fire({
                                    position: "center-center",
                                    icon: "success",
                                    title: "Your Image has been saved",
                                    showConfirmButton: false,
                                    timer: 1500
                                });

                            } else {
                                Swal.fire({
                                    title: 'Error!',
                                    text: 'Please Refresh and continue',
                                    icon: 'error',
                                    confirmButtonText: 'Ok'
                                })
                            }
                        },
                        error: function (error) {
                            console.error('Error:', error);
                            alert("error2");

                        }
                    });


                });
            });
        }

        initializeCropper();
    </script>

}
